.header {
  &__social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 0 100px;
    height: 44px;
    background-color: #403E3F;

     & > * {
       height: 20px;
       cursor: pointer;
     }
  }

  &__content {
    display: flex;
    padding: 0 100px;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    background-color: white;

    &--logo {
      display: flex;
      align-items: center;
      gap: 15px;

      & > h1 {
        font-size: 20px;
        font-family: BarlowCondensed-SemiBold, serif;
      }
    }

    &--options {
      display: flex;
      gap: 30px;
      font-size: 18px;
      font-family: BarlowCondensed-Regular, serif;
      user-select: none;

      & > p:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.pedagogical-innovation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 60px;
  background-color: #403E3F;
  font-family: BarlowCondensed-Regular, sans-serif;
  font-size: 18px;

  &__option {
    user-select: none;
    color: white;
    cursor: pointer;
    padding: 7px;
    margin: 0;

    &:hover {
      background-color: #7c7777;
      border-radius: 5px;
      padding: 7px;
    }

    &--active {
      background-color: white;
      border-radius: 5px;
      padding: 7px;
      color: black;

      &:hover {
        background-color: white;
      }
    }
  }
}
