<header class="header">
  <div class="header__social">
    <img src="assets/icons/facebook.svg" height="16" width="14" alt="">
    <img src="assets/icons/instagram.svg" height="16" width="14" alt="">
    <img src="assets/icons/tiktok.svg" height="16" width="14" alt="">
    <img src="assets/icons/youtube.svg" height="16" width="18" alt="">
  </div>
  <div class="header__content">
    <div class="header__content--logo">
      <img [ngSrc]="logoImage" alt="logo" width="30" height="43" />
      <h1>Nuestra Señora de las Mercedes</h1>
    </div>
    <div class="header__content--options">
      <p>Nuestros Pilares</p>
      <p>Nuestroa Metodología</p>
      <p>Innovación Pedagógica</p>
      <p></p>
    </div>
    <div class="header__content--registration">
      <app-button color="brown">Iniciar Matrícula</app-button>
    </div>
  </div>
</header>
