<header class="header">
  <div class="header__social">
    <a href="https://www.facebook.com/profile.php?id=61552579402142" target="_blank">
      <img src="assets/icons/facebook.svg" height="16" width="14" alt="">
    </a>
    <img src="assets/icons/instagram.svg" height="16" width="14" alt="">
    <img src="assets/icons/tiktok.svg" height="16" width="14" alt="">

    <a href="https://www.youtube.com/channel/UChBVHdOVTEnKqExHttXA1Dw" target="_blank">  
      <img src="assets/icons/youtube.svg" height="16" width="18" alt="">
    </a>
  </div>
  <div class="header__content">
    <div class="header__content--logo">
      <img ngSrc="assets/images/logo.png" alt="logo" width="30" height="43" />
      <h1>IE N° 5076 Nuestra Señora de las Mercedes</h1>
    </div>
    <div class="header__content--options">
      <p [routerLink]="MODULES_ROUTES.HOME">Misión y Visión</p>
      <p [routerLink]="MODULES_ROUTES.PEDAGOGICAL_INNOVATION">Innovación Pedagógica</p>
    </div>
  </div>
</header>
<nav class="pedagogical-innovation" *ngIf="isPedagogicalInnovation">
  <p
    *ngFor="let option of pedagogicalInnovation"
    class="pedagogical-innovation__option"
    [routerLink]="option.route"
    routerLinkActive="pedagogical-innovation__option--active">
    {{ option.name }}
  </p>
</nav>
