:host {
  display: block;

  .button {
    background-color: #A69153;
    color: white;
    transition: 0.2s;
    outline: 0;
    border: none;
    border-radius: 15px;
    padding: 14px 10px;
    width: 100%;
    font-size: 15px;
    font-family: BarlowCondensed-Regular, serif;

    &__white {
      background-color: white;
      color: #A69153;

      &:hover {
        cursor: pointer;
        background-color: #cecece;
      }
    }

    &__brown {
      background-color: #A69153;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: #bea76d;
      }
    }
  }
}
