<div class="section section-one">
  <div class="section-one__frame">
    <img src="assets/images/current-philosophical/section-one/image%20132.png" alt="photo">
    <a href="https://www.muyinteresante.es/actualidad/18863.html" target="_blank">https://www.muyinteresante.es/actualidad/18863.html</a>
  </div>
  <div class="section-one__frame">
    <img src="assets/images/current-philosophical/section-one/image%20133.png" alt="photo">
    <a href="https://revistareplicante.com/la-actualidad-de-la-filosofia" target="_blank">https://revistareplicante.com/la-actualidad-de-la-filosofia</a>
  </div>
</div>
<div class="section section-two">
  <div class="section-two__frame">
    <img src="assets/images/current-philosophical/section-two/image%20134.png" alt="photo">
    <a href="https://www.fundacionaquae.org/wiki/descubrimientos-cientificos-del-siglo-xxi" target="_blank">https://www.fundacionaquae.org/wiki/descubrimientos-cientificos-del-siglo-xxi</a>
  </div>
  <div class="section-two__frame">
    <img src="assets/images/current-philosophical/section-two/image%20135.png" alt="photo">
    <a
      href="https://www.unisabana.edu.co/portaldenoticias/al-dia/noticias-al-dia/detalle-noticias-al-dia/noticia/existe-realmente-el-amor-platonico-2"
      target="_blank">https://www.unisabana.edu.co/portaldenoticias/al-dia/noticias-al-dia/detalle-noticias-al-dia/noticia/existe-realmente-el-amor-platonico-2</a>
  </div>
  <div class="section-two__frame">
    <img src="assets/images/current-philosophical/section-two/image%20136.png" alt="photo">
    <a href="https://www.bbc.com/mundo/noticias-46914172"
       target="_blank">https://www.bbc.com/mundo/noticias-46914172</a>
  </div>
  <div class="section-two__frame">
    <img src="assets/images/current-philosophical/section-two/image%20137.png" alt="photo">
    <a href="https://www.nationalgeographicla.com/historia/2022/12/que-es-el-amor-segun-platon" target="_blank">https://www.nationalgeographicla.com/historia/2022/12/que-es-el-amor-segun-platon</a>
  </div>
</div>
<div class="section section-three">
  <div class="section-three__frame">
    <img src="assets/images/current-philosophical/section-three/image%20138.png" alt="photo">
    <a href="https://filco.es/los-filosofos-y-el-amor" target="_blank">https://filco.es/los-filosofos-y-el-amor</a>
  </div>
  <div class="section-three__frame">
    <img src="assets/images/current-philosophical/section-three/image%20139.png" alt="photo">
    <a href="https://es.linkedin.com/pulse/f%C3%BAtbol-y-filosof%C3%ADa-paula-urabayen" target="_blank">https://es.linkedin.com/pulse/f%C3%BAtbol-y-filosof%C3%ADa-paula-urabayen</a>
  </div>
  <div class="section-three__frame">
    <img src="assets/images/current-philosophical/section-three/image%20140.png" alt="photo">
    <a href="https://www.unesco.org/es/days/philosophy" target="_blank">https://www.unesco.org/es/days/philosophy</a>
  </div>
  <div class="section-three__frame">
    <img src="assets/images/current-philosophical/section-three/image%20141.png" alt="photo">
    <a
      href="https://elcomercio.pe/respuestas/dia-mundial-de-la-filosofia-desde-cuando-y-por-que-se-celebra-cada-18-de-noviembre-efemerides-filosofia-revtli-noticia/?ref=ecr"
      target="_blank">https://elcomercio.pe/respuestas/dia-mundial-de-la-filosofia-desde-cuando-y-por-que-se-celebra-cada-18-de-noviembre-efemerides-filosofia-revtli-noticia/?ref=ecr</a>
  </div>
</div>
