<div class="flyer">
  <div class="flyer__frame">
    <h3>Flyer "El por que de las cosas"</h3>
    <div class="flyer__photos">
      <img src="assets/images/reflective-strategies/processed-products/flyer/image%2084.png" alt="flyer">
      <img src="assets/images/reflective-strategies/processed-products/flyer/image%2085.png" alt="flyer">
      <img src="assets/images/reflective-strategies/processed-products/flyer/image%2086.png" alt="flyer">
      <img src="assets/images/reflective-strategies/processed-products/flyer/image%2087.png" alt="flyer">
      <img src="assets/images/reflective-strategies/processed-products/flyer/image%2088.png" alt="flyer">
      <img src="assets/images/reflective-strategies/processed-products/flyer/image%2089.png" alt="flyer">
    </div>
  </div>
</div>

<div class="meme">
  <h3>Los memes filosóficos</h3>
  <div class="meme__photos">
    <img src="assets/images/reflective-strategies/processed-products/meme/image%2090.png" alt="meme">
    <img src="assets/images/reflective-strategies/processed-products/meme/image%2091.png" alt="meme">
    <img src="assets/images/reflective-strategies/processed-products/meme/image%2092.png" alt="meme">
    <img src="assets/images/reflective-strategies/processed-products/meme/image%2093.png" alt="meme">
    <img src="assets/images/reflective-strategies/processed-products/meme/image%2094.png" alt="meme">
    <img src="assets/images/reflective-strategies/processed-products/meme/image%2095.png" alt="meme">
    <img src="assets/images/reflective-strategies/processed-products/meme/image%2096.png" alt="meme">
    <img src="assets/images/reflective-strategies/processed-products/meme/image%2097.png" alt="meme">
  </div>
</div>

<div class="future-man">
  <div class="future-man__frame">
    <h3>El hombre del futuro</h3>
    <div class="future-man__photos">
      <img src="assets/images/reflective-strategies/processed-products/future-men/image%2098.png" alt="future-man">
      <img src="assets/images/reflective-strategies/processed-products/future-men/image%2099.png" alt="future-man">
      <img src="assets/images/reflective-strategies/processed-products/future-men/image%20100.png" alt="future-man">
      <img src="assets/images/reflective-strategies/processed-products/future-men/image%20101.png" alt="future-man">
      <img src="assets/images/reflective-strategies/processed-products/future-men/image%20102.png" alt="future-man">
      <img src="assets/images/reflective-strategies/processed-products/future-men/image%20103.png" alt="future-man">
    </div>
  </div>
</div>
