<div class="space-to-think">
  <div class="space-to-think__frame">
    <h3>Un espacio para pensar</h3>
    <img src="assets/images/philosophical-workshops/space-to-think/space-to-think.png" alt="space-to-think">
    <div>
      <p>
        Los talleres filosóficos se enfocaron al dialogo, la reflexión y el análisis de temas relacionados a la
        existencia humana y la problemática que se suscita en la sociedad. Para ello se desarrollaron actividades de
        interés social a través de la visualización de videos, canciones, dinámicas y acertijos, de esta manera se
        involucran en el juego intelectual de construcción colectiva de preguntas.
      </p>
      <p>
        Los talleres fueron realizados por los docentes y estudiantes universitarios de la Escuela de Filosofía de la
        Facultad de letras y ciencias humanas de la Universidad Nacional Mayor de San Marcos con quienes se realizó
        una alianza educativa.
      </p>
    </div>
  </div>
</div>

<div class="photos">
  <img src="assets/images/philosophical-workshops/photos/image%20126.png" alt="photo">
  <img src="assets/images/philosophical-workshops/photos/image%20127.png" alt="photo">
  <img src="assets/images/philosophical-workshops/photos/image%20128.png" alt="photo">
  <img src="assets/images/philosophical-workshops/photos/image%20129.png" alt="photo">
  <img src="assets/images/philosophical-workshops/photos/image%20130.png" alt="photo">
  <img src="assets/images/philosophical-workshops/photos/image%20131.png" alt="photo">
</div>
