<div class="philosophical-snack">
  <div class="philosophical-snack__frame">
    <h3>Merienda filosófica</h3>
    <div>
      <p>
        Se diseñaron estrategias dinámicas y lúdicas, con actividades amenas y entretenidas que impulsaron a los
        estudiantes su participación y reflexión. Ello permitió aflorar su creatividad, originalidad, tolerancia,
        sensibilidad y flexibilidad. Despertando el interés y la motivación por aprender, así como el descubrimiento de
        nuevas facetas de su imaginación.
      </p>
    </div>
    <div class="philosophical-snack__photos">
      <img src="assets/images/reflective-strategies/philosophical-strategies/philosophical-snack/image%2037.png" alt="philosophical-snack">
      <img src="assets/images/reflective-strategies/philosophical-strategies/philosophical-snack/image%2038.png" alt="philosophical-snack">
      <img src="assets/images/reflective-strategies/philosophical-strategies/philosophical-snack/image%2039.png" alt="philosophical-snack">
      <img src="assets/images/reflective-strategies/philosophical-strategies/philosophical-snack/image%2040.png" alt="philosophical-snack">
    </div>
    <div class="circle-of-philosophical-debates__photos1">
      <img src="assets/images/reflective-strategies/philosophical-strategies/philosophical-snack/image%2041.png" alt="philosophical-snack">
      <img src="assets/images/reflective-strategies/philosophical-strategies/philosophical-snack/image%2042.png" alt="philosophical-snack">
      <img src="assets/images/reflective-strategies/philosophical-strategies/philosophical-snack/image%2043.png" alt="philosophical-snack">
    </div>
  </div>
</div>

<div class="i-ask-then-i-exist">
  <h3>Pregunto luego existo</h3>
  <div class="i-ask-then-i-exist__photos">
    <img src="assets/images/reflective-strategies/philosophical-strategies/i-ask-then-i-exist/image%2044.png" alt="i-ask-then-i-exist">
    <img src="assets/images/reflective-strategies/philosophical-strategies/i-ask-then-i-exist/image%2045.png" alt="i-ask-then-i-exist">
  </div>
</div>

<div class="circle-of-philosophical-debates">
  <div class="circle-of-philosophical-debates__frame">
    <div>
      <h3>Circulo de debates filosóficos</h3>
      <br>
      <h3>"El Agora"</h3>
    </div>
    <div class="circle-of-philosophical-debates__photos">
      <img src="assets/images/reflective-strategies/philosophical-strategies/circle-of-philosophical-debates/image%2046.png" alt="circle-of-philosophical-debates">
      <img src="assets/images/reflective-strategies/philosophical-strategies/circle-of-philosophical-debates/image%2047.png" alt="circle-of-philosophical-debates">
      <img src="assets/images/reflective-strategies/philosophical-strategies/circle-of-philosophical-debates/image%2048.png" alt="circle-of-philosophical-debates">
      <img src="assets/images/reflective-strategies/philosophical-strategies/circle-of-philosophical-debates/image%2049.png" alt="circle-of-philosophical-debates">
      <img src="assets/images/reflective-strategies/philosophical-strategies/circle-of-philosophical-debates/image%2050.png" alt="circle-of-philosophical-debates">
      <img src="assets/images/reflective-strategies/philosophical-strategies/circle-of-philosophical-debates/image%2051.png" alt="circle-of-philosophical-debates">
      <img src="assets/images/reflective-strategies/philosophical-strategies/circle-of-philosophical-debates/image%2052.png" alt="circle-of-philosophical-debates">
      <img src="assets/images/reflective-strategies/philosophical-strategies/circle-of-philosophical-debates/image%2053.png" alt="circle-of-philosophical-debates">
    </div>
  </div>
</div>

<div class="the-unknown-zone">
  <h3>La zona desconocida</h3>
  <div class="the-unknown-zone__photos">
    <img src="assets/images/reflective-strategies/philosophical-strategies/the-unknown-zone.png" alt="the-unknown-zone">
  </div>
</div>

<div class="dare-to-philosophize">
  <div class="dare-to-philosophize__frame">
    <h3>Atrevete a filosofar</h3>
    <div class="dare-to-philosophize__photos">
      <img src="assets/images/reflective-strategies/philosophical-strategies/dare-to-philosophize/image%2055.png" alt="dare-to-philosophize">
      <img src="assets/images/reflective-strategies/philosophical-strategies/dare-to-philosophize/image%2056.png" alt="dare-to-philosophize">
      <img src="assets/images/reflective-strategies/philosophical-strategies/dare-to-philosophize/image%2057.png" alt="dare-to-philosophize">
      <img src="assets/images/reflective-strategies/philosophical-strategies/dare-to-philosophize/image%2058.png" alt="dare-to-philosophize">
    </div>
  </div>
</div>

<div class="critical-reading">
  <h3>Lectura crítica</h3>
  <div class="critical-reading__photos">
    <img src="assets/images/reflective-strategies/philosophical-strategies/critical-reading/image%2059.png" alt="critical-reading">
    <img src="assets/images/reflective-strategies/philosophical-strategies/critical-reading/image%2060.png" alt="critical-reading">
  </div>
</div>
