html {
  background-color: white !important;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: white !important;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "BarlowCondensed-ExtraLight";
  src: url(assets/fonts/BarlowCondensed/BarlowCondensed-ExtraLight.ttf);
}

@font-face {
  font-family: "BarlowCondensed-Regular";
  src: url(assets/fonts/BarlowCondensed/BarlowCondensed-Regular.ttf);
}

@font-face {
  font-family: "BarlowCondensed-SemiBold";
  src: url(assets/fonts/BarlowCondensed/BarlowCondensed-SemiBold.ttf);
}

@font-face {
  font-family: "BarlowCondensed-Bold";
  src: url(assets/fonts/BarlowCondensed/BarlowCondensed-Bold.ttf);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
